<header *ngIf="userService.getUser() as user">
    <mat-toolbar color="primary" class="row">

        <div class="baseline button" *ngIf="user['id']" routerLink="profile">
            <button mat-fab color="accent" class="char">{{user.username.charAt()}}</button>
            <p>{{user.username}}</p>
        </div>
        <div class="row button center" routerLink="" *ngIf="!user['id']">
            <img src="../../../favicon.ico">
            <p class="title">Board Game Fan</p>
        </div>

        <!--
    <button mat-button [matMenuTriggerFor]="admin" *ngIf="expression">Administración</button>
    <mat-menu #admin="matMenu">
        <button mat-menu-item>Nuevo Juego</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu> -->
        <div class="row">
            <button mat-button *ngIf="!user['id']" routerLink="login">Login</button>
            <button mat-button *ngIf="user['id']" (click)="logout()">Logout</button>

            <mat-form-field appearance="standard" color="accent" class="search">
                <mat-label>Buscar Juego</mat-label>
                <input matInput type="text" [(ngModel)]="searchValue" placeholder="Nombre del juego" (keyup)="searchGame($event)">
                <button class="size" mat-button *ngIf="searchValue" matSuffix mat-icon-button (click)="searchValue=''">
                    <i class="material-icons-round">close</i>
                </button>
                <mat-hint align="end" class="button" *ngIf="user['id']" routerLink="advSearch">Búsqueda Avanzada</mat-hint>
            </mat-form-field>
        </div>
    </mat-toolbar>
</header>