.title {
    font-family: ethnocentric;
    font-weight: bold;
    font-size: large;
}

img {
    max-height: 3rem;
}

.size {
    max-width: 30px;
    max-height: 30px;
}

mat-toolbar {
    height: 5.2rem;
}

mat-hint {
    font-size: 8pt;
    color: rgb(37, 214, 245);
}

.search {
    width: 200px;
    font-size: 1.1rem;
    margin-left: 2rem;
}

.baseline {
    display: flex;
    align-items: baseline;
}

.char {
    font-size: 2rem;
    font-weight: bolder;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
}