<header *ngIf="user">
    <mat-toolbar color="primary" class="row">

        <div class="row button inline" *ngIf="user['id']" (click)="onClickProfile()">
            <button mat-fab color="accent" *ngIf="!user['image']" class="char">{{user['username'].charAt()}}</button>
            <img class="button user" *ngIf="user['image'] && !user['image'].includes('http')" [src]="API_URL+'/uploads/'+user['image']">
            <img class="button user" *ngIf="user['image'].includes('http')" src="{{user['image']}}">
            <p id="line">{{user['username']}}</p>
            <i class="material-icons-round green bold" *ngIf="user['confirmed']">check</i>
            <i class="material-icons-round yellow" *ngIf="user['role']!=='user'">emoji_events</i>
        </div>
        <div class="row button center" (click)="onClickHome()" *ngIf="!user['id']">
            <img src="../../../favicon.ico">
            <p class="title">Board Game Fan</p>
        </div>
        <div class="row">
            <button mat-stroked-button *ngIf="!user['id']" routerLink="login">Login</button>
            <button mat-stroked-button *ngIf="user['id']" (click)="logout()">Logout</button>

            <app-basic></app-basic>
        </div>
    </mat-toolbar>
</header>