<div class="center">
    <h2>This program it's distributed under the <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a></h2>
    <p>Tl,dr: this program it's open source and you can download, change and redistribute it if you want. But any work derived from it, must remain under the GPL license.</p>
    <br>
    <h3>I want to thanks wholeheartedly to BoardGameGeek.com</h3>
    <h4>If you are the owner of something copyrighted that appears here, and you want it removed, please contact me at "lajasatisfaction@gmail.com".</h4>
    <br>
    <p>If you find any bug, please report it at "lajasatisfaction@gmail.com"</p>
    <p>If you don't find your favorite game and want it added, please contact me at "lajasatisfaction@gmail.com"</p>
    <p>Tip: Before doing that, first search the game by it's English name...</p>
    <p>I don't pretend to add expansions, just base games.</p>
    <br>
    <p>So sorry about the Spanglish...</p>
    <br><br><br><br>
    <p>...And remember! Reality's an illusion, the universe is a hologram, buy gold! Byeeee! ~△~</p>
</div>