<div class="center">
    <h2>Hi!, I'm your unregular Joe</h2>
    <br>
    <h3>Rigth now, I'm learning to code.</h3>
    <h3>Full-Stack Developer Bootcamp, from the good people at GeeksHubs.</h3>
    <br><br>
    <h4>Before that... I have donde some stuff.</h4>
    <p>What stuff, you say?</p>
    <p>Oh, well...</p>
    <br>
    <p>I've studied Biology, worked as a paleontologist, clinical microbiologist and Science Museum guide/educator.</p>
    <p>Then I learned some Osteopathy and worked as a therapist.</p>
    <p>Then I learned some Graphic Design and worked as designer in layout and final arts.</p>
    <p>Then I worked in a FLGS (Friendly Local Game Store)</p>
    <p>Then I started coding...</p>
    <br><br><br>
    <p>You know... stuff.</p>
</div>