.back {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 81vh;
}

img {
    object-fit: contain;
}

#white {
    color: wheat;
}