<div class="class-table">
    <div class="row">
        <h2 *ngIf="path==='artist'">Estos son los juegos ilustrados por {{name}}:</h2>
        <h2 *ngIf="path==='category'">Estos son los juegos pertenecientes a la categoría {{name}}:</h2>
        <h2 *ngIf="path==='designer'">Estos son los juegos diseñados por {{name}}:</h2>
        <h2 *ngIf="path==='mechanic'">{{name}} está presente en estos juegos:</h2>
        <mat-form-field>
            <mat-label>Filtrar resultados</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="year">
                <mat-header-cell class="a1" *matHeaderCellDef mat-sort-header>Año</mat-header-cell>
                <mat-cell class="a1" *matCellDef="let element">{{element.year}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="image">
                <mat-header-cell class="a1" *matHeaderCellDef>Portada</mat-header-cell>
                <mat-cell class="button a1" *matCellDef="let element" (click)="goToDetail(element.name)"><img src="{{element.image}}"></mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Título</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
            </ng-container>

            <mat-header-row class="back" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [length]="dataSource?.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]">
        </mat-paginator>
    </div>
</div>