<div class="format">
    <mat-card>
        <div class="column">
            <div class="row">
                <button mat-fab color="accent" class="char" *ngIf="!user.image" (click)="openPhotoModal()">{{user['username']?.charAt()}}</button>
                <img class="button" *ngIf="user.image" (click)="openPhotoModal()" src="{{user.image}}">
                <mat-divider [vertical]=true [inset]=true></mat-divider>
                <div class="column">
                    <br>
                    <mat-form-field>
                        <mat-label>Tu Nombre</mat-label>
                        <input type="text" matInput [formControl]="nameFormControl" [value]="user.username">
                        <i class="material-icons-round button" matSuffix *ngIf="nameFormControl.disabled" (click)="nameFormControl.enable()">edit</i>
                        <i class="material-icons-round button" matSuffix *ngIf="!nameFormControl.disabled" (click)="editName()">send</i>
                        <mat-error *ngIf="nameFormControl.hasError('required')">
                            El nombre es <strong>obligatorio</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-divider [inset]=true></mat-divider>
                    <br>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" [value]="user.email">
                        <i class="material-icons-round button" matSuffix *ngIf="emailFormControl.disabled && !user.confirmed" (click)="emailFormControl.enable()">edit</i>
                        <i class="material-icons-round button" matSuffix *ngIf="!emailFormControl.disabled && !user.confirmed" (click)="editMail()">send</i>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Por favor, introduce un e-mail válido
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            El e-mail es <strong>obligatorio</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider [inset]=true></mat-divider>
            <br>
            <div class="row">
                <div class="baseline">
                    <h4>Usuario confirmado: &nbsp;</h4>
                    <p *ngIf="user.confirmed"> Sí &nbsp;<i class="material-icons-round green">add_circle</i></p>
                    <p *ngIf="!user.confirmed"> No &nbsp;<i class="material-icons-round red">remove_circle</i></p>
                </div>
                <button mat-raised-button *ngIf="!user.confirmed" (click)="confirmMail()">Confirmar E-mail</button>
            </div>
            <br>
            <div class="baseline">
                <h4>Tipo de cuenta: &nbsp;</h4>
                <p *ngIf="user.role==='user'"> usuario.</p>
                <p *ngIf="user.role==='admin'"> administrador.</p>
                <p *ngIf="user.role==='superAdmin'"> jefazo.</p>
                <p *ngIf="user.role==='god'"> eres Conrado, mi creador. &nbsp;<i class="material-icons-round green">emoji_emotions</i></p>
            </div>
            <mat-hint *ngIf="user.role==='user'">¿Quieres ser administrador? Pídelo por favor...</mat-hint>
            <br>
            <mat-divider [inset]=true></mat-divider>
            <br>
            <div class="row">
                <div class="baseline">
                    <label>Tu género: &nbsp;</label>
                    <mat-radio-group [formControl]="genderFormControl" [value]="user.gender">
                        <mat-radio-button value="male"> Hombre</mat-radio-button>
                        <mat-radio-button value="female"> Mujer</mat-radio-button>
                        <mat-radio-button value=""> Privado</mat-radio-button>
                    </mat-radio-group>
                </div>
                <i class="material-icons-round button" matSuffix *ngIf="genderFormControl.disabled" (click)="genderFormControl.enable()">edit</i>
                <i class="material-icons-round button" matSuffix *ngIf="!genderFormControl.disabled" (click)="editGender()">send</i>
            </div>
            <br>
            <mat-divider [inset]=true></mat-divider>
            <br>
            <div class="baseline">
                <h4>¿Quieres cambiar de contraseña? &nbsp;</h4>
                <p>¡Te mandamos un e-mail para renovarla! &emsp;</p>
                <button mat-raised-button color="warn" (click)="changePass()">Cambiar Contraseña</button>
            </div>
        </div>
    </mat-card>
</div>