.height {
    overflow: visible;
}

.width {
    width: 80%;
}

.width2 {
    width: 100%;
}

.flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.self {
    align-self: flex-start;
}