<div class="center">
    <mat-card class="mat-elevation-z8" *ngIf="gameDetail">
        <mat-card-header class="flex">
            <img mat-card-image class="button" (click)="openImage()" src="{{gameDetail['image']}}">
            <mat-divider [vertical]=true [inset]=true></mat-divider>
            <div class="column">
                <div class="selfCenter">
                    <mat-card-title class="title">{{gameDetail['name']}}</mat-card-title>
                    <br>
                    <mat-card-subtitle class="sub"> ({{gameDetail['year']}})</mat-card-subtitle>
                </div>
                <mat-divider [inset]=true></mat-divider>
                <div class="flex">
                    <div class="text">
                        <h4>Jugadores: </h4>
                        <p *ngIf="gameDetail['minPlayer']===gameDetail['maxPlayer'];else variable">{{gameDetail['minPlayer']}}</p>
                        <ng-template #variable>
                            <p>{{gameDetail['minPlayer']}} - {{gameDetail['maxPlayer']}}</p>
                        </ng-template>
                    </div>
                    <mat-divider [vertical]=true [inset]=true></mat-divider>
                    <div class="text">
                        <h4>Duración: </h4>
                        <p *ngIf="gameDetail['minTime']===gameDetail['maxTime'];else variable2">{{gameDetail['minTime']}} min. aprox.</p>
                        <ng-template #variable2>
                            <p>{{gameDetail['minTime']}} - {{gameDetail['maxTime']}} min. aprox.</p>
                        </ng-template>

                    </div>
                    <mat-divider [vertical]=true [inset]=true></mat-divider>
                    <div class="text">
                        <h4>Edad mínima: </h4>
                        <p>{{gameDetail['age']}}+</p>
                    </div>
                    <mat-divider [vertical]=true [inset]=true></mat-divider>
                </div>
                <mat-divider [inset]=true></mat-divider>
                <div class="text">
                    <h4 *ngIf="gameDetail['Authors'].length===1;else autores">Autor: </h4>
                    <ng-template #autores>
                        <h4>Autores:</h4>
                    </ng-template>
                    <p *ngFor="let item of gameDetail['Authors']; index as i;" class="button" (click)="goToAuthor(item.id)">
                        <span *ngIf="(gameDetail['Authors'].length-1)===i;else cadena"> {{item.name}}.</span>
                        <ng-template #cadena>
                            <span> {{item.name}},</span>
                        </ng-template>
                    </p>
                </div>
                <div class="text">
                    <h4 *ngIf="gameDetail['Artists'].length===1;else artistas">Artista:</h4>
                    <ng-template #artistas>
                        <h4>Artistas:</h4>
                    </ng-template>
                    <p *ngFor="let item of gameDetail['Artists']; index as i;" class="button" (click)="goToArtist(item.id)">
                        <span *ngIf="(gameDetail['Artists'].length-1)===i;else cadena"> {{item.name}}.</span>
                        <ng-template #cadena>
                            <span> {{item.name}},</span>
                        </ng-template>
                    </p>
                </div>
                <div class="text">
                    <h4 *ngIf="gameDetail['Mechanics'].length===1;else mecanicas">Mecánica del juego:</h4>
                    <ng-template #mecanicas>
                        <h4>Mecánicas del juego:</h4>
                    </ng-template>
                    <p *ngFor="let item of gameDetail['Mechanics']; index as i;" class="button" (click)="goToMechanic(item.id)">
                        <span *ngIf="(gameDetail['Mechanics'].length-1)===i;else cadena"> {{item.name}}.</span>
                        <ng-template #cadena>
                            <span> {{item.name}},</span>
                        </ng-template>
                    </p>
                </div>
                <div class="text">
                    <h4 *ngIf="gameDetail['Categories'].length===1;else categorias">Categoría del juego:</h4>
                    <ng-template #categorias>
                        <h4>Categorías del juego:</h4>
                    </ng-template>
                    <p *ngFor="let item of gameDetail['Categories']; index as i;" class="button" (click)="goToCategory(item.id)">
                        <span *ngIf="(gameDetail['Categories'].length-1)===i;else cadena"> {{item.name}}.</span>
                        <ng-template #cadena>
                            <span> {{item.name}},</span>
                        </ng-template>
                    </p>
                </div>
            </div>
        </mat-card-header>
        <mat-card-content class=" row ">
            <mat-divider [inset]=true></mat-divider>
            <div class="text ">
                <h4>Descripción:</h4>
                <p [innerHTML]="gameDetail['description']"></p>
            </div>
            <mat-divider [inset]=true></mat-divider>
            <br>
            <div *ngIf="exists.length==0 && token" class="flex left">
                <button mat-icon-button color="primary" (click)="addToCollection()"><i class="material-icons-round">check_box_outline_blank</i></button>
                <p> Añadir a mi colección.</p>
            </div>
            <div *ngIf="exists.length>0" class="flex left"><i class="material-icons-round">check_box</i>
                <p> ¡Ya lo tengo en mi colección!</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>