<mat-card>
    <div class="row">
        <img mat-card-image *ngIf="!data['image'].includes('http')" [src]="API_URL+'/uploads/'+data['image']">
        <img mat-card-image *ngIf="data['image'].includes('http')" src="{{data['image']}}">
        <img mat-card-image *ngIf="!data['image']" src="../../../assets/imgs/alien.png">

        <mat-card-content class="column">
            <h3>¿Quieres cambiar tu imagen de perfil?</h3>
            <h4>Busca en internet, selecciona una imagen que te guste (mejor cuadrada) y copia la url aquí:</h4>
            <form #photo="ngForm" (submit)="onClickUpdate()">
                <mat-form-field appearance="fill">
                    <mat-label>Url</mat-label>
                    <input matInput [(ngModel)]="imageValue" placeholder="{{data['image']}}" name="image" #image="ngModel" id="image">
                </mat-form-field>
                <br>
                <mat-divider [inset]=true></mat-divider>
                <br>
                <h4>... O elige una imagen que tengas en tu ordenador:</h4>
                <form class="row" method="POST" enctype="multipart/form-data">
                    <button mat-raised-button type="button" (click)="fileInput.click()">Elegir archivo</button>
                    <input style="display:none" type="file" (change)="onFileSelected($event)" #fileInput>
                    <input matInput class="search" disabled type="text" *ngIf="selectedFile!==null" [value]="selectedFile.name">
                    <button mat-raised-button type="button" (click)="onUpload()">Subir archivo</button>
                </form>

                <br>
                <mat-divider [inset]=true></mat-divider>
                <br>
                <button mat-raised-button type="submit">Hecho</button>
            </form>

        </mat-card-content>
    </div>
</mat-card>