.class-table {
    width: 80%;
    margin: 1rem auto;
}

img {
    max-width: 100px;
    object-fit: contain;
    margin-top: 5px;
    margin-bottom: 5px;
}

.back {
    background-color: rgb(245, 212, 212);
}