<div [hidden]="advSearchService.isLoading | async" class="class-table">
    <mat-form-field>
        <mat-label>Filtrar resultados</mat-label>
        <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <ng-container matColumnDef="year">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Año</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.year}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="image">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Portada</mat-header-cell>
                <mat-cell *matCellDef="let row"><img src="{{row.image}}"></mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Título</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
            </ng-container>

        </mat-table>

        <mat-paginator #paginator [length]="dataSource?.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]">
        </mat-paginator>

    </div>
</div>