<div class="class-table">
    <mat-form-field>
        <mat-label>Filtrar resultados</mat-label>
        <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>

    <div [hidden]="advSearchService.isLoading" class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="year">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Año</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.year}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="image">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Portada</mat-header-cell>
                <mat-cell *matCellDef="let element"><img src="{{element.image}}"></mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Título</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
            </ng-container>

            <mat-header-row class="back" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [length]="dataSource?.length" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]">
        </mat-paginator>
    </div>
</div>