.class-table {
    width: 90%;
    margin: 1rem auto;
}

img {
    max-width: 100px;
    object-fit: contain;
    margin-top: 5px;
    margin-bottom: 5px;
}

.back {
    background-color: rgb(215, 245, 212);
}

.a1 {
    max-width: 13%;
}

.a2 {
    max-width: 5%;
}