.green {
    color: green;
}

.yellow {
    color: yellow;
}

.orange {
    color: rgb(233, 159, 23);
}

.red {
    color: red;
}

tr {
    text-align: center;
}

#left {
    text-align: left;
}

#name {
    width: 10rem;
}

.format {
    max-width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}