.title {
    font-family: ethnocentric;
    font-weight: bold;
    font-size: large;
    margin: 0;
}

img {
    max-height: 3rem;
    margin-left: 1rem;
}

.center {
    align-items: center;
}

.back {
    background-color: rgba(108, 255, 255, 0.7);
}

a {
    font-size: 0.8rem;
    text-decoration-line: none;
}

.width {
    width: 25%;
}