<mat-card class="center">
    <br>
    <h3>El quid de la cuestión:</h3>
    <h3>¿juegas con muggles o con culoduros de los buenos?</h3>
    <br>
    <form [formGroup]="validateForm">
        <div class="row">
            <mat-form-field appearance="fill" color="primary">
                <mat-label>Tiempo</mat-label>
                <input matInput type="number" min="1" [formControl]="number" required>
                <span matSuffix>min.</span>
                <mat-hint align="start">Es tiempo en minutos, ¿queda claro?</mat-hint>
            </mat-form-field>
            <mat-divider [vertical]=true [inset]=true></mat-divider>
            <div class="column">
                <mat-radio-group [formControl]="limit" required class="column">
                    <mat-radio-button value="more">o más</mat-radio-button>
                    <mat-radio-button value="less">o menos</mat-radio-button>
                    <mat-radio-button value="none">Jo, no me presiones...</mat-radio-button>
                </mat-radio-group>
                <mat-error align="start" *ngIf="error">Tienes que elegir uno</mat-error>
            </div>
        </div>
        <br><br>
        <button mat-raised-button color="primary" (click)="searchTime()" type="submit">Enviar</button>
    </form>
</mat-card>