<form>
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="nameFormControl.hasError('required')">
            El nombre es <strong>obligatorio</strong>
        </mat-error>
    </mat-form-field>
    <mat-divider [inset]="true"></mat-divider>
    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput #message minlength="8" maxlength="16" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide">
                        <i class="material-icons-round">{{hide ? 'visibility_off' : 'visibility'}}</i>
                    </button>
        <mat-hint align="start" *ngIf="message.value.length<8">Min. 8 caracteres </mat-hint>
        <mat-hint align="end" *ngIf="message.value.length<8">{{message.value.length}} / 8</mat-hint>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
            La contraseña es <strong>obligatoria</strong>
        </mat-error>
    </mat-form-field>
    <mat-divider [inset]="true"></mat-divider>
</form>